.ui.modal
  .header.CompletedCount
    Сгенерировано промокодов:
    %span

  .actions
    .ui.black.deny.button
      Продолжить
    %a.ui.positive.right.labeled.icon.button{href: admin_promos_path}
      Перейти к списку
