.ui.modal.PurchaseCompleted
  .header
    %h2.ui.centered.aligned.icon.header
      %i.circular.smile.icon
      Покупка успешно совершена
  .actions
    %a.ui.positive.right.labeled.icon.button{href: new_purchase_path}
      Продолжить покупки
    %a.ui.positive.right.labeled.icon.button{href: admin_root_path}
      Перейти к списку покупок
